header {
    background: linear-gradient(to right, #33ccff 52%, #0066ff 100%);
    color: #fff;
  }
  
  li {
    display: inline-block;
  }

.set{
  margin-left:-30px;
  margin-bottom:-80px;
}
.while{

font-size: 18px;

  }
  a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.bgnavbar{
  background-color:#F1ECEC !important;
}
.imagemargin{
margin:8px;
cursor: pointer;
}
a:active{
  background: white;
  border-radius: 10px;
}
.imagese{
  margin-left:-20px;
}
.profile{
  margin-bottom: 120px; margin-right: 50px
}

@media only screen and (max-width: 300px) and (min-width: 200px)  {
  .small{
    margin-top:8px;
  
  }
}@media only screen and (max-width: 992px) and (min-width: 200px)  {
  .set{
    margin-left:0px !important;
    margin-bottom:0;
  }
  .profile{
   margin: auto;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 992px)  {
  .set{
 width:100%
   
  }}
