h2 {
  text-align: center !important;
  font-size: 18px !important;
  color: black !important;
}
h3 {
  text-align: center;
  font-size: 14px !important;
  color: gray !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500px !important;
}
.badge {
  font-size: 25px;
  font-weight: 200
}

.badge i {
  font-size: 20px;
  font-weight: 200
}

.about-rating {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px
}

.total-ratings {
  font-size: 12px
}

.bg-custom {
  background-color: #b7dd29 !important
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}
.btn-grey{
  background-color:#D8D8D8;
color:#FFF;
}
.rating-block{
background-color:#FAFAFA;
border:1px solid #EFEFEF;
padding:15px 15px 20px 15px;
border-radius:3px;
}
.progress {
  margin-top: 10px
}
.form-group {
  margin-top: 20px !important;
}
.form-check {
  margin-top: 10px !important;
  color: gray !important;
}
::placeholder {
  color: silver !important;
  font-weight: 500 !important;
}
.form-control {
  border-radius: 80px !important;
  border: 2px solid silver !important;
}
h1 {
  text-align: center !important;
  font-size: 40px !important;
  font-weight: bold !important;
}
.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  color: black !important;
  padding: 10px 10px !important;
  display: block;
}
.dropdown-item{
  color: black !important;
}
.dropdown-menu,.dropdown-toggle  {
  background-color: transparent !important;
  border: 0px;
  color:black !important;
}
.drop{
  background-color: transparent !important;
}
.dropdown-menu {
  
  background-color: white !important;
}
.navbar-light .navbar-toggler {
color:white !important;
background-color:white
}
.cardb{
  padding: 6px;
  border: 3px solid purple;
}
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}